
<h1>skills detail</h1>
<div>
    <p>Expert:{{owner.username}}</p>
   
   
    <h1>Category:</h1>
    {{skill.category}}
    {{skill.owner.name}}
   
    {{#if skill.category}}
    <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 40px;" class="mx-1">
    {{/if}}
    
</div>
<div>
    <h3>Name</h3><p>{{skill.name}}</p>
</div>
<div>
    <h3>Description:</h3><p>{{skill.description}}</p>

</div>
{{#if isUserLogged}}
<a href="/skills/{{skill.id}}/edit">Edit</a>
<a href="/skills/{{skill.id}}/delete">Delete</a>
{{/if}}

<a href="/messages/{{skill.id}}">Chat</a>

