<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="title text-center mt-4">
                <h1>Skill Details</h1>
            </div>
            <div class="body row mt-5 justify-content-around">
                <div class="card col-md-6 mb-4">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img style="margin-bottom:5px;" src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="rounded-circle img-fluid">
                        </div>
                        <div class="col-md-9">
                            <strong><p>{{skill.owner.username}}</p></strong>
                        </div>
                    </div>
                    <hr>
                    <div class="category row align-items-center">
                        <h3 class="col-md-6">Category:</h3>
                        <p class="col-md-6 mt-3">{{skill.category}}</p>
                        <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 70px;" class="d-block">
                    </div>
                    <hr>
                    <div class="category row align-items-center">
                        <h3 class="col-md-6">Name:</h3>
                        <p class="col-md-6 mt-3">{{skill.name}}</p>
                    </div>
                    <hr>
                    <div class="category row align-items-center">
                        <h4 class="col-md-6">Description:</h4>
                        <p class="col-md-6 mt-3">{{skill.description}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Rate:</h4>
                        </div>
                        <div class="rate col-md-6" style="font-size: 30px;" data-rate="{{skill.averageRate}}">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        {{#if isUserLogged}}
                            <a type="button" class="btn btn-outline-warning btn-lg" href="/skills/{{skill.id}}/edit">
                                <i class="far fa-edit me-1"></i>Edit
                            </a>
                        {{/if}}
                    </div>
                </div>
                <div class="card col-md-5 mb-4">
                    <div class="col-md-12">
                        <h3 class="text-center">Comments & Ratings</h3>
                        {{#ifUserRated skill.ratings currentUser}}
                            {{#unless isUserLogged}}
                                <form action="/detail/{{skill.id}}" method="post" class="mt-3">
                                    <textarea class="form-control" name="comment" placeholder="Write your comment..."></textarea>
                                    <div style="font-size: 30px;" class="rate {{#if errors.rate}}is-invalid{{/if}}">
                                        <input type="radio" id="star5" name="rate" value="5" />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                    {{#if errors.rate}}<small class="invalid-feedback">{{errors.rate}}</small>{{/if}}
                                    <button class="btn btn-outline-secondary mt-2" type="submit">
                                        <i class="fa fa-send"></i> Submit
                                    </button>
                                </form>
                            {{/unless}}
                        {{/ifUserRated}}
                        <div class="comment-list mt-4 rounded p-6 " style="height: 300px; overflow-y: auto;">
                            <ul class="testimonial-list">
                                {{#each skill.ratings as |rating|}}
                                    <div class="card p-3 mb-2">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="m-2 img">
                                                <a href="/profile/{{rating.sender.id}}">
                                                    <img src="https://i.pravatar.cc/150?u={{rating.sender.email}}" width="50" class="rounded-circle">
                                                </a>
                                            </div>
                                            <p>{{rating.senderEmail}}</p>
                                            <div class="col-md-2 d-flex flex-column pt-2">
                                                <span class="font-weight-normal"><strong>{{rating.sender.username}}</strong></span>
                                            </div>
                                            <div class="rate col-md-6 pt-2" style="font-size: 20px;" data-rate="3">
                                                <span class="star">&#9733;</span>
                                                <span class="star">&#9733;</span>
                                                <span class="star">&#9733;</span>
                                                <span class="star">&#9733;</span>
                                                <span class="star">&#9733;</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p><span>{{rating.comment}}</span></p>
                                        </div>
                                    </div>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
