
<h1>skills detail</h1>
<div>
    <p>Expert:{{owner.username}}</p>
   
   
    <h1>Category:</h1>
    {{skill.category}}
    {{skill.owner.name}}
   
    {{#if skill.category}}
    <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 40px;" class="mx-1">
    {{/if}}
    
</div>
<div>
    <h3>Name</h3><p>{{skill.name}}</p>
</div>
<div>
    <h3>Description:</h3><p>{{skill.description}}</p>

</div>
{{#if isUserLogged}}
<a href="/skills/{{skill.id}}/edit">Edit</a>
<a href="/skills/{{skill.id}}/delete">Delete</a>

{{/if}}

<a href="/messages/{{skill.id}}">Chat</a>

<form action="/detail/{{skill.id}}" method="post" >
<textarea  name="comment" id="" cols="30" rows="10" placeholder="Right your comment"></textarea>
<div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
    <button type="submit" value="" >Send</button>

</form>

{{#each skill.ratings as |rating|}}
<ul><li>{{rating.comment}}</li></ul>

{{/each}}

