{{editForm}}
<h1>skills detail</h1>
<div>
    <h1>Category:</h1>
    <P>{{skill.category}}</P>
    
</div>
<div>
    <h3>Name</h3><p>{{skill.name}}</p>
</div>
<div>
    <h3>Description:</h3><p>{{skill.description}}</p>

</div>

<a href="/skills/{{skill.id}}/edit">Edit</a>
<a href="/skills/{{skill.id}}/delete">Delete</a>