

<form action="/search" method="get">
  <div class="container d-flex justify-content-center mt-4">
    <div class=" container-fluid justify-content-center form row d-flex align-items-center"> 
      <div class="col-md-6"> 
        <div class="input-group"> 
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary button-search" style="padding: 10px 20px;background-color: #007bff;border: 1px solid #78afe9;color: #ffffff;font-size: 16px;
          border-radius: 10px 0 0 10px;" type="submit"><i class="fas fa-search"></i></button>
          </div>
          
          <input type="text" class="form-control" name="name" placeholder="Search anything..." value="{{query.name}}">
        </div>
      </div>
      <div class="col-md-2"> 
        <select class="form-select" name="category">
          <option value="all">Categories</option>
          <option value="crafts" {{#ifEq query.category 'crafts' }}selected{{/ifEq}}>crafts</option>
          <option value="cooking" {{#ifEq query.category 'cooking' }}selected{{/ifEq}}>cooking</option>
          <option value="gardening and horticulture" {{#ifEq query.category 'gardening and horticulture'}}selected{{/ifEq}}>gardening and horticulture</option>
          <option value="everyday life skills" {{#ifEq query.category 'everyday life skills' }}selected{{/ifEq}}>everyday live skills</option>
          <option value="music" {{#ifEq query.category 'music' }}selected{{/ifEq}}>music</option>
          <option value="sports" {{#ifEq query.category 'sports' }}selected{{/ifEq}}>sports</option>
          <option value="technology" {{#ifEq query.category 'technology' }}selected{{/ifEq}}>technology</option>
          <option value="languages and culture" {{#ifEq query.category 'languages and culture' }}selected{{/ifEq}}>languages and culture</option>
          <option value="others" {{#ifEq query.category 'others' }}selected{{/ifEq}}>others</option>
        </select>
      </div>
    </div>
  </div>
</form>


<hr>
<div class="container-fluid  row justify-content-center">
  <div class="title text-center"><h1>Suggestions</h1></div>
  {{#each skillsByInterests as |skill|}}
  <div class="card col- col-sm-6 col-md-4 col-lg-4  m-3 ">
    <div class="top-container">
      <a class="img-card" href="/profile/{{skill.owner.id}}"><img
          src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="img-fluid profile-image" width="70"></a>
      <div class="rate" style="max-width: 15rem;" data-rate="{{skill.averageRate}}">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <p class="name">{{skill.owner.username}}</p>
      </div>
    </div>
    <a class="text-decoration-none" style="color: black;" href="/detail/{{skill.id}}">
      <div class="middle-container d-flex row justify-content-between align-items-center mt-3 p-2">
        <div class="d-flex flex-row col-md-12 mr-1">
          <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 20px;" class="mx-1">
          <span class="current-balance">{{skill.category}}</span>
        </div>
        <div class="description">
          <p>{{skill.name}}</p>
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</div>
<hr>
<div class="container-fluid row justify-content-center">
  <div class="title text-center"><h1>Skills</h1></div>
  {{#each skillsByFinder as |skill|}}
  <div class="card col-12  col-sm-4 col-md-4 col-lg-2 col-xl-2 m-3">
    <div class="top-container">
      <a class="img-card" href="/profile/{{skill.owner.id}}"><img
          src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="img-fluid profile-image" width="70"></a>
      <div class="rate" style="max-width: 15rem;" data-rate="{{skill.averageRate}}">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <p class="name">{{skill.owner.username}}</p>
      </div>
    </div>
    <a class="text-decoration-none" style="color: black;" href="/detail/{{skill.id}}">
      <div class="middle-container d-flex row justify-content-between align-items-center mt-3 p-2">
        <div class="d-flex flex-row col-md-12 mr-1">
          <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 20px;" class="mx-1">
          <span class="current-balance">{{skill.category}}</span>
        </div>
        <div class="description">
          <p>{{skill.name}}</p>
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</div>
















<!-- Carrusel 
  
  <div class="carousel-container d-flex justify-content-end" style="background-color:aqua width: 50%;">
    <div class="carousel">
      {{#each skillsByInterests as |skill|}}
      <div class="card m-3">
        <div class="top-container">
          <a class="img-card" href="/profile/{{skill.owner.id}}"><img src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="img-fluid profile-image" width="70"></a>
          <div class="rate" style="max-width: 15rem;" data-rate="{{skill.averageRate}}">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <p class="name">{{skill.owner.username}}</p>
          </div>
        </div>
        <a class="text-decoration-none" style="color: black;" href="/detail/{{skill.id}}">
          <div class="middle-container d-flex row justify-content-between align-items-center mt-3 p-2">
            <div class="d-flex flex-row col-md-12 mr-1">
              <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 20px;" class="mx-1">
              <span class="current-balance">{{skill.category}}</span>
            </div>
            <div class="description">
              <p>{{skill.description}}</p>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  <hr>
  <div class="carousel-container d-flex">
    <div class="carousel">
      {{#each skillsByFinder as |skill|}}
      <div class="card m-3">
        <div class="top-container">
          <a class="img-card" href="/profile/{{skill.owner.id}}"><img src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="img-fluid profile-image" width="70"></a>
          <div class="rate" style="max-width: 15rem;" data-rate="{{skill.averageRate}}">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <p class="name">{{skill.owner.username}}</p>
          </div>
        </div>
        <a class="text-decoration-none" style="color: black;" href="/detail/{{skill.id}}">
          <div class="middle-container d-flex row justify-content-between align-items-center mt-3 p-2">
            <div class="d-flex flex-row col-md-12 mr-1">
              <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 20px;" class="mx-1">
              <span class="current-balance">{{skill.category}}</span>
            </div>
            <div class="description">
              <p>{{skill.description}}</p>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>-->

<!--
 <script>
        function startCarousel() {
    const carousel = document.querySelector('.carousel');
    const cards = document.querySelectorAll('.carousel .card');
    const prevButton = document.querySelector('.move-prev');
    const nextButton = document.querySelector('.move-next');

    // Calcular el ancho total del carrusel
    const cardWidth = cards[0].offsetWidth;
    const totalWidth = cards.length * cardWidth;

    carousel.style.width = totalWidth + 'px';
    let position = 0;
    let speed = 1;

    prevButton.addEventListener('click', movePrev);
    nextButton.addEventListener('click', moveNext);

    function movePrev() {
        position += cardWidth;
        if (position > 0) {
            position = -totalWidth + carousel.offsetWidth;
        }
        carousel.style.transform = 'translateX(' + position + 'px)';
    }

    function moveNext() {
        position -= cardWidth;
        if (position < -totalWidth + carousel.offsetWidth) {
            position = 0;
        }
        carousel.style.transform = 'translateX(' + position + 'px)';
    }
}

window.addEventListener('load', startCarousel)
    </script>-->