<div class="container">

    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h1 class="text-center my-3 py-3">User Profile</h1>
      </div>
    </div>

    <div class="row">
        
        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
              <img src="https://i.pravatar.cc/150?u={{user.email}}" class="img-fluid rounded-circle my-3"alt="user image"/>

              <h3 class="card-title my-3">{{user.username}}</h3>
              {{#if isUserLogged}}
                <p class="card-text text-muted mb-3">{{user.email}}</p>
              {{/if}}
              <h6 class="mb-2">About me:</h6>
              <p class="card-text mb-3">{{user.description}}</p>

              <div class="d-flex justify-content-center">
                {{#if isUserLogged}}
                  <a type="button" class="btn btn-outline-warning btn-lg" href="/edit"><i class="far fa-edit me-1"></i>Edit profile</a>
                {{/if}}
              </div>

            </div>
          </div>

          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-4">
              <h5 class="mb-4">My interests:</h5>

              {{#each user.interests as |interest|}}
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content align-items-center p-3">
                    <img src="{{categoryImage interest}}" style="height: 43px; width: 36px" alt=""/>
                    <p class="mb-0 mx-3">{{interest}}</p>
                  </li>
                </ul>
              {{/each}}

            </div>
          </div>

        </div>
        <div class="col">
    <h3 class="my-3 text-center">{{user.username}} Skills</h3>

    <ul class="list-group list-group-light">
        {{#each skills as |skill|}}
        <li class="list-group-item d-flex justify-content-between px-3 border-0 list-group-item-warning mb-2">
            <div class="ms-3 flex-grow-1">
                <p class="fw-bold mb-0">{{skill.name}}</p>
                <p class="mb-0">{{skill.category}}</p>
            </div>
            <div class="col-sm-5">
                <p class="rate mb-0" data-rate="{{skill.averageRate}}">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </p>
                <div class="d-inline-block align-middle " style="margin-left: 30%;">
                {{#if ../isUserLogged}}
                <a class="btn btn-sm btn-danger mt-2 me-1 text-decoration-none" href="/skills/{{skill.id}}/delete">Delete</a>
                <a class="btn btn-sm btn-primary mt-2 text-decoration-none" href="/skills/{{skill.id}}/edit">Edit</a>
                {{/if}}
            </div>
            </div>
            
        </li>
        {{/each}}
    </ul>

    <div class="d-flex justify-content-center">
        {{#if isUserLogged}}
        <a class="btn btn-outline-light btn-lg mt-2 me-2" href="/skills/new"><i class="fas fa-plus-circle me-1"></i>New skill</a>
        {{/if}}
    </div>
</div>

    </div>
    
</div>