<h1>profile</h1>
<div class="row">


<div class="card cold-md-6" style="width: 18rem;">
  <img src="https://i.pravatar.cc/150?u=iron-fake@pravatar.com" class="card-img-top" alt="...">

  <!--<div class="card-body {{#if owner}}invisible{{/if}}"-->
    
    <h5 class="card-title">{{currentUser.username}}</h5>
    <p class="card-text">{{currentUser.email}}</p>
    <p class="card-text">{{currentUser.description}}</p>
    
<br>
<a class="btn btn-primary mt-2" href="/edit">Edit profile</a>

    
   
  </div>
  <!--<div class="card-body {{#if owner}}visible{{/if}}">
    
    <h5 class="card-title">{{owner.username}}</h5>
    <p class="card-text">{{owner.email}}</p>
    <p class="card-text">{{owner.description}}</p>
    
   
  </div>
</div>-->



<div class="col-md-6">
   <!-- <ul>
        {{#each skills as |skill|}}
        <li>{{skill.name}}</li>
        {{/each}}
    </ul>
</div>
-->
<h1>Skills</h1>
<div class="list-group">
   {{#each skills as |skill|}}
       
  <a href="/detail/{{skill.id}}" class="list-group-item list-group-item-action ">{{skill.category}} ,{{skill.name}}</a>

   {{/each}}
  <a class="btn btn-primary mt-2" href="/skills/new">New skill</a>
</div>
</div>