

<main class="form-register container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-2 row justify-content-center text-center">
      <form method="post" action="/register">
        <div class="text-center mb-4 ">
          <img class="mb-4" src="/img/logo3.png" alt="Logo" width="122" height="97">
          <h1 class="mb-3 fw-normal">Register</h1>
        </div>

        <div class="form-group mt-3">
          <label>Email address</label>
          <input type="email" value="{{user.email}}" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" placeholder="Enter email">
          {{#if errors.email}}<small class="invalid-feedback">{{errors.email}}</small>{{/if}}
        </div>

        <div class="form-group mt-3">
          <label>Username</label>
          <div class="input-group">
            <span class="input-group-text">@</span>
            <input type="text" value="{{user.username}}" name="username" class="form-control {{#if errors.username}}is-invalid{{/if}}" placeholder="Username">
            {{#if errors.username}}<small class="invalid-feedback">{{errors.username}}</small>{{/if}}
          </div>
        </div>

        <div class="form-group mt-3">
          <label>Password</label>
          <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" placeholder="Password">
          {{#if errors.password}}<small class="invalid-feedback">{{errors.password}}</small>{{/if}}
        </div>

        <hr class="my-3">

        <div class="form-group mt-3">
          <label for="category" class="form-label">My interests</label>
          <div class="my-2">
          <div class="form-check form-check-inline">
            <img src="/img/icons/crafts.png" alt="crafts icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="crafts">
            <label class="form-check-label">crafts</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/cooking.png" alt="cooking icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="cooking">
            <label class="form-check-label">cooking</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/gardening and horticulture.png" alt="gardening and horticulture icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="gardening and horticulture">
            <label class="form-check-label">gardening and horticulture</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/everyday life skills.png" alt="everyday life skills icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="everyday life skills">
            <label class="form-check-label">everyday life skills</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/music.png" alt="music icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="music">
            <label class="form-check-label">music</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/sports.png" alt="sports icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="sports">
            <label class="form-check-label">sports</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/technology.png" alt="technology icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="technology">
            <label class="form-check-label">technology</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/languages and culture.png" alt="languages and culture icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="languages and culture">
            <label class="form-check-label">languages and culture</label>
          </div>
          <div class="form-check form-check-inline">
            <img src="/img/icons/others.png" alt="others icon" style="width: 20px; height: 20px;">
            <input class="form-check-input" type="checkbox" name="interests" value="others">
            <label class="form-check-label">others</label>
            
          </div>
           
        </div>
       
    
        </div>
        <button type="submit" class="btn btn-primary col-md-6 ml-5 mt-2">Register</button>
        </div>

        
      </form>
      
    </div>
  </div>
</main>


