<div class="container fluid d-flex">
<h1>New Petition</h1>
  <div class=" card form-group col-md-4 " style="max-width: 28rem; padding: 4px;">
    <form method="POST" action="/petitions/show">

  <div class="form-group">
    <label >Username</label>
    <input type="text" value="{{currentUser.username}}"  name="requester" class="form-control {{#if errors.requester}}is-invalid{{/if}} " placeholder="Username">
     {{#if errors.requester}}<small class="invalid-feedback">{{errors.requester}}</small>{{/if}}
  </div>
  <label >What you need</label>
    <input type="text" value="" name="name" class="form-control {{#if errors.description}}is-invalid{{/if}}" placeholder="Right what you need">
    {{#if errors.name}}<small class="invalid-feedback">{{errors.name}}</small>{{/if}}
  
  <div class="mb-3">
    <label for="description"  class="form-label">Description</label>
    <textarea
      class="form-control {{#if errors.description}}is-invalid{{/if}} "
      id="description"
      rows="3"
      name="description"
      placeholder="write a brief description about your skill"
    ></textarea>
   {{#if errors.description}}<div class="invalid-feedback">{{errors.description}}</div>{{/if}}
  </div>
<h3>Category</h3>
<div class="form-check form-check-inline">
  <img src="/img/icons/crafts.png" alt="Crafts icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Crafts">
  <label class="form-check-label" >Crafts</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/cooking.png" alt="Cooking icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Cooking">
  <label class="form-check-label" >Cooking</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/Gardening and Horticulture.png" alt="Gardening and Horticulture icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Gardening and Horticulture">
  <label class="form-check-label">Gardening and Horticulture</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/EverydayLifeSkills.png" alt="Everyday Life skills icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Everyday Life skills">
  <label class="form-check-label" >Everyday Life skills</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/music.png" alt="Music icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Music">
  <label class="form-check-label" >Music</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/sports.png" alt="Sports icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Sports">
  <label class="form-check-label" >Sports</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/technology.png" alt="Technology icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Technology">
  <label class="form-check-label" >Technology</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/Languages and Culture.png" alt="Languages and Culture icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Languages and Culture">
  <label class="form-check-label">Languages and Culture</label>
</div>
<div class="form-check form-check-inline">
  <img src="/img/icons/others.png" alt="Others icon" style="width: 20px; height: 20px;">
  <input class="form-check-input" name="category" type="checkbox" value="Others">
  <label class="form-check-label" >Others</label>
</div>
<button type="submit" class="btn btn-primary mt-2">Submit</button>
</div>



  
  
  
</form>
<h1>List petitions</h1>
<div class="list-group">
 
<ul>
  {{#each petitions as |petition|}}
  <div>
    <li class="list-group-item">{{petition.description}}, {{petition.requester.username}}
      <form method="post" action="/petitions/show/{{petition.id}}/delete">
      <button class="badge status-badge fw-lighter text-bg-danger primary" type="submit">Delete</button>
      </form>
       <button class="badge status-badge fw-lighter text-bg-success primary" type="submit">Contact</button>
      <!--{{#ifRequesterIsLogged currentUser.username petition.requester.username}}
        <button class="badge status-badge fw-lighter text-bg-danger primary" type="submit">Delete</button>
      {{else}}
        <button class="badge status-badge fw-lighter text-bg-success primary" type="submit">Contact</button>
      {{/ifRequesterIsLogged}}--> 
    </li>
  </div>
  {{/each}}
</ul>
</div>

</div>